body {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
div, p, a, input, button, span, ul, li, form {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1170px;
}
header {
    background-color: #3f3656;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 80px ;
    display: block;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.offer {
    margin-top: 100px;
    width: 490px;
}
p {
    line-height: 1.66em;
}
.title span  {
    color: #48ed8e;
}
.intro {
    width: 368px;
    margin-top: 40px;
}
.btn {
        font-family: 'Montserrat', sans-serif;
        background-color: #ed9619;
        color: #fff;
        border-radius: 100px;
        text-align: center;
        text-decoration: none;
        width: 203px;
        padding: 19px 0;
        display: block;
        margin-top: 40px;
}
.learn {
    margin-top: 105px;
    margin-bottom: 125px;
}
.section-title {
    font-size: 30px;
    margin-bottom: 85px;
}
.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.skill-code {
    background: url('../img/icon1.jpg') no-repeat left top;
    padding-left: 100px;
    font-family: ;
}
.skill-free {
    background: url('../img/icon2.jpg') no-repeat left top;
    padding-left: 100px;
}
.skill-change {
    background: url('../img/icon3.jpg') no-repeat left top;
    padding-left: 100px;
}
.section-title-2 {
    font-size: 30px;
}
.mail {
    background: #efecf4;
    padding-top: 173px;
    padding-bottom: 190px;
}
.input {
    width: 474px;
    border: 1px solid #bfb8d1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 100px;
    height: 54px;
    padding-left: 38px;
}
.btn-form {
    border: 0;
    display: inline;
    margin-left: 17px;
}
footer {
    padding: 30px 0;
    background: #201b2d;
}
.credits {
    color: #d4cee3;
    font-size: 14px;
    margin: 0;
}